.sqr{
    width: 200px;
    height: 200px;
    border: 4px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sqrparent{
    display: flex;
    gap: 10px;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.twosqr{
    display: flex;
    gap: 10px;
    flex-direction: column;
}