body{
    background-color: #fff8f0;
    max-width: 75%;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}
.hero{
    width: 50%;
}
.boyimg{
    width: 50%;
}
.break1{
    display: flex;
    margin-top: 0px;
}
.free{
    font-size: 3.5rem;
    word-spacing: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heropara{
    line-height: 23px;
    word-spacing: 3px;
    margin-right: 25px;
    margin-top: 0px;
}
.break2, .break3{
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
}
.whatido1, .myproject1{
    max-width: 60%;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}
.whatido_heading, .break3 h2{
   font-size: 2rem;
   margin-top: 0px;
   margin-bottom: 0px; 
}
.whatido{
    display: flex;
    gap: 25px;
    max-width: 75%;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}
.whatido div{
    height: 250px;
    width: 250px;
}
.whatido div p{
    
    font-family: Arial, Helvetica, sans-serif;
}
.break3 div{
    width: 15%;
    height: 150px;
    text-align: center;
    border-radius: 10%;
}
#pn1{
    background-color: aqua;
    color: white;
}
#pn2{
    background-color: yellow;
    color: black;
}
#pn3{
    background-color: red;
    color: white;
}
.break3 h{
    width: 75%;
}
.break3 p{
    width: 75%;
}
.break3 section{
    display: flex;
}